*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.content {
    margin-bottom: 30px;
    width: 400px;
    height: 400px;
    background-color: #ccc;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

.content img {
    width: 100%;
    height: auto;

}

.text {
    text-transform: capitalize;
}